<navegacion titulo="addProperty.titulo"></navegacion>
<md-content layout="column" layout-padding>
	<form name="inmuebleForm" layout="column">
        <div layout="row" layout-padding layout-align="center center">
		<md-input-container class="md-block">
			<md-select ng-model="addProperty.formData.tipoInmueble" placeholder="Tipo de inmueble">
				<md-option ng-value="tipo" ng-repeat="tipo in addProperty.tiposInmuebles">
					{{tipo}}
				</md-option>
			</md-select>
		</md-input-container>
		<md-input-container class="md-block">
			<md-checkbox ng-model="addProperty.formData.comercio">Inmueble comercial</md-checkbox>
		</md-input-container>
		<md-input-container class="md-block">
			<md-select ng-model="addProperty.formData.tipoAlumbrado" placeholder="Tipo de alumbrado">
				<md-option ng-value="item" ng-repeat="item in addProperty.alumbrado">
					{{item}}
				</md-option>
			</md-select>
		</md-input-container>
	   </div>
		<md-input-container class="md-block">
			<label>Clave catastral</label>
			<input required minlength="7" maxlength="7" ng-pattern="/^[0-9]+$/" md-no-asterisk ng-model="addProperty.formData.claveCatastral" type="text" placeholder="2521202" name="inputClave">
			<div ng-messages="inmuebleForm.inputClave.$error" ng-show="inmuebleForm.inputClave.$dirty" multiple>
				<div ng-message="required">La clave es obligatoria</div>
				<div ng-message="minlength">Debe contener 7 digitos</div>
				<div ng-message="maxlength">Debe contener 7 digitos</div>
				<div ng-message="pattern">No puede contener caracteres</div>
			</div>
		</md-input-container>
		<md-input-container>
			<label>Valor del inmueble</label>
			<input required ng-pattern="/^[1-9]\d*(\.\d+)?$/" md-no-asterisk ng-model="addProperty.formData.valor" name="inputValor">
			<div ng-messages="inmuebleForm.inputValor.$error" ng-show="inmuebleForm.inputValor.$dirty" multiple>
				<div ng-message="required">El valor es obligatorio</div>
				<div ng-message="pattern">No puede contener caracteres</div>		
			</div>
		</md-input-container>
		<md-input-container>
			<label>Metros de frente</label>
			<input required ng-pattern="/^[1-9]\d*(\.\d+)?$/" md-no-asterisk ng-model="addProperty.formData.metros" name="inputMetros">
			<div ng-messages="inmuebleForm.inputMetros.$error" ng-show="inmuebleForm.inputMetros.$dirty" multiple>
				<div ng-message="required">El valor es obligatorio</div>
				<div ng-message="pattern">No puede contener caracteres</div>		
			</div>
		</md-input-container>
		<md-input-container>
			<label>Superficie</label>
			<input required ng-pattern="/^[1-9]\d*(\.\d+)?$/" md-no-asterisk ng-model="addProperty.formData.superficie" name="inputSuperficie">
			<div ng-messages="inmuebleForm.inputSuperficie.$error" ng-show="inmuebleForm.inputSuperficie.$dirty" multiple>
				<div ng-message="required">El valor es obligatorio</div>
				<div ng-message="pattern">No puede contener caracteres</div>		
			</div>
			
		</md-input-container>
        <md-input-container>
            <label>Observaciones</label>
            <textarea ng-model="addProperty.formData.observaciones" name="inputObservaciones" maxlength="200" required
                      md-no-asterisk rows="5"></textarea>
            <div ng-messages="inmuebleForm.inputOservaciones.$error" ng-show="inmuebleForm.inputObservaciones.$dirty">
                <div ng-message="required">Complete las observaciones</div>
            
            </div>
        </md-input-container>
        
        <md-input-container>
			<label>Direccion </label>
			<input required md-no-asterisk name="inputDireccion" ng-model="addProperty.formData.direccion" type="text" placeholder="Avenida las amapolias, casa numero 4, San Salvador, San Salvador">
			<div ng-messages="inmuebleForm.inputDireccion.$error" ng-show="inmuebleForm.inputDireccion.$dirty">
				<div ng-message="required">Este campo es requerido</div>
			</div>
		</md-input-container>
        <div layout="row">
            <div flex="40"></div>
		      <md-button flex="20" class="md-raised md-warn" ng-disabled="inmuebleForm.$invalid" ng-click="addProperty.enviarFormulario()">Agregar nuevo</md-button>
            <div flex="40"></div>
        </div>
	</form>
</md-content>
