

<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Agregar propietario</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/icons/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h1>Coloque el numero de contribuyente</h1>
          <md-input-container>
            <input ng-model="id">
          </md-input-container>
            <md-button ng-click="buscar()">
                Buscar
            </md-button>
          <h2>Nombre: {{contr.nombre}}</h2>
          <h2>NIT: {{contr.nit}}</h2>
          <h2 class="md-warn" nf-if="error">{{error}}</h2>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="propietario(contr)">
        Aceptar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>


