<navegacion titulo="dashboard.titulo"></navegacion>
<md-content class="md-padding"  layout="column" layout-padding>
	<div layout="row" layout-xs="column">
        <div flex="30"></div>
        <md-card>
            <img ng-src="/assets/img/equipo.png" class="md-card-image imagen" width="250" height="125" alt="Washed Out">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Agregar contribuyente</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
              <md-button ng-href="#/agregar-contribuyente" class="md-raised md-accent">Agregar un nuevo contribuyente</md-button>

            </md-card-actions>
        </md-card>
        
        <md-card>
            <img ng-src="/assets/img/shuffle.png" class="md-card-image" alt="Washed Out">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Tramitar traspaso</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
              <md-button class="md-raised md-accent">Action 1</md-button>

            </md-card-actions>
        </md-card>
        <div flex="30"></div>
    </div>
    <div layout="row" layout-xs="column">
        <div flex="30"></div>
        <md-card>
            <img ng-src="/assets/img/cityscape.png" class="md-card-image" alt="Washed Out">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Agregar inmueble</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
              <md-button ng-href="/#agregar-inmueble" class="md-raised md-accent">Agregar un inmueble</md-button>

            </md-card-actions>
        </md-card>
        
        <md-card>
            <img ng-src="/assets/img/solicitud.png" class="md-card-image" alt="Washed Out">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Revisar solicitudes de traspaso</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
              <md-button class="md-raised md-accent">Action 1</md-button>

            </md-card-actions>
        </md-card>
        <div flex="30"></div>
    </div>
</md-content>
