<navegacion titulo="dashboard.titulo"></navegacion>
<md-content class="md-padding"  layout="column" layout-padding>
	<div layout="row" layout-xs="column">
        <div flex="30"></div>
        <md-card>
            <img ng-src="/assets/img/equipo.png" class="md-card-image imagen" alt="Washed Out">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Agregar contribuyente</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                Este opcion presenta el formulario para agregar un nuevo contribuyente al sistema en caso de no existir.
              </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
              <md-button ng-href="#/agregar-contribuyente" class="md-raised md-accent">Agregar un nuevo contribuyente</md-button>

            </md-card-actions>
        </md-card>
        
        <md-card>
            <img ng-src="/assets/img/shuffle.png" class="md-card-image" alt="Washed Out">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Tramitar traspaso</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                Realice traspasos de inmuebles de manera rapida y eficiente.
              </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
              <md-button ng-href="#/dashboard" class="md-raised md-accent">Realizar traspaso</md-button>

            </md-card-actions>
        </md-card>
        <div flex="30"></div>
    </div>
    <div layout="row" layout-xs="column">
        <div flex="30"></div>
        <md-card>
            <img ng-src="/assets/img/cityscape.png" class="md-card-image" alt="Washed Out">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Agregar inmueble</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                Se presenta el formulario para agregar nuevos inmuebles al sistema.
              </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
              <md-button ng-href="/#agregar-inmueble" class="md-raised md-accent">Agregar un inmueble</md-button>

            </md-card-actions>
        </md-card>
        
        <md-card>
            <img ng-src="/assets/img/solicitud.png" class="md-card-image" alt="Washed Out">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Revisar solicitudes de traspaso</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                Revise aquellas solicitudes y verifique el estado de la solicitud de traspasos.
              </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
              <md-button class="md-raised md-accent">Action 1</md-button>

            </md-card-actions>
        </md-card>
        <div flex="30"></div>
    </div>
</md-content>
