<navegacion titulo="listContrib.titulo"></navegacion>
<md-content layout="column" layout-align="center center" layout-padding>
	
    
    <md-list class="md-dense" flex>
        <md-subheader class="md-no-sticky"><strong>Contribuyenes registrados</strong></md-subheader>
        <md-list-item class="md-3-line" ng-repeat="user in listContrib.contribuyentes">
            <div class="md-list-item-text" layout="column">
                <h3>Nombres: {{ user.nombre }}</h3>
                <h4>Apellidos: {{ user.apellido }}</h4>
                <p>NIT: {{ user.nit }}</p>
            </div>
        </md-list-item>
    </md-list>
    
    

</md-content>
