<md-toolbar md-scroll-shrink="true" layout-padding>
	<span flex></span>
    <div class="md-toolbar-tools">
    	<md-button class="md-icon-button" ng-click="sidenav.toggleNav()"> 
    		<md-icon md-svg-src="assets/icons/menu.svg" ></md-icon>
    	</md-button>
        <h2>{{titulo}}</h2>
        <span flex></span>
	</div>
</md-toolbar>
<md-sidenav md-is-open="sidenav.showNav" class="md-sidenav-left">
	<md-toolbar layout-padding class="md-medium-tall">
        <h2 class="md-toolbar-tools">Actions</h2>
	</md-toolbar>
    <div layout-padding>
        <h4>Contribuyentes</h4>
        <h4>Solicitudes</h4>
        <h4>Prestatarios</h4>
    </div>
</md-sidenav>
