

<md-content layout="row" >
    <div flex="25"></div>
    <md-card flex="50" layout-align="start center">
        <md-card-header  class="md-accent">
            <div layout=row>
                <md-card-avatar>
                    <md-icon md-svg-src="assets/icons/locked.svg"></md-icon>
                </md-card-avatar>
                <md-header-text>
                    <div class="md-title">Bienvenido al sistema</div>
                    <div class="md-subhead">Ingrese sus credenciales para comenzar</div>
                </md-header-text>
            </div>
        </md-card-header>
        <!--<div flex="25"></div>-->
        <md-card-content flex layout="row">
            <md-card-title>
                
                <md-card-title-media>
                    <img src="assets/img/team.png" class="md-media-md" alt="teamwork">
                </md-card-title-media>
            </md-card-title>
            <p>Ingrese las credenciales proporcionadas por la organizacion, si no tiene por favor remitase a al departamente de TI para solicitar una.</p>
        </md-card-content>
        <!--<div flex="25"></div>-->
        <md-card-actions layout-align="end center">
            <md-button ng-href="/#dashboard" class="md-raised md-primary">Ingresar</md-button>
        </md-card-actions>
    </md-card>
    <div flex="25"></div>
</md-content>





<!--
<md-content class="md-padding" layout-xs="column" layout="row">
    <md-card  md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Vista de login</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
      <md-button class="md-raised md-accent md-hue-2">Hue-2</md-button>
      <md-switch ng-model="true">Oh?</md-switch>
</md-content>
-->

